h1,
h4,
h2 {
  text-align: center;
  color: white;
}

body {
  background-color: rgba(13, 13, 82, 0.959);
}
a {
  color: silver;
  display: block;
  text-decoration: none;
  text-align: center;
}

img {
  display: block;
  max-width: 400px;
  margin: 0 auto;
}
p {
  text-align: center;
  color: skyblue;
  border: skyblue 1px solid;
  border-radius: 15px;
}
